body {
font-size: 14px;
height: 24px;
color: #000000;
font-weigt: bold;
font-family: PT Sans Narrow, Helvetica Neue, Helvetica, Arial, sans-serif;
}
h1 {
font-size: 30px;
height: 42px;
color: #000000;
font-weigt: bold;
font-family: PT Sans Narrow, Helvetica Neue, Helvetica, Arial, sans-serif;
}
h2 {
font-size: 14px;
height: 18px;
color: #000000;
font-weigt: bold;
font-family: PT Sans Narrow, Helvetica Neue, Helvetica, Arial, sans-serif;
}