body {
font-size: 14px;
height: 24px;
color: #000000;
font-weigt: bold;
font-family: PT Sans Narrow, Helvetica, Helvetica, Arial, sans-serif;
}
h1 {
font-size: 30px;
height: 42px;
color: #000000;
font-weigt: bold;
font-family: PT Sans Narrow, Helvetica, Helvetica, Arial, sans-serif;
}
h2 {
font-size: 14px;
height: 18px;
color: #000000;
font-weigt: bold;
font-family: PT Sans Narrow, Helvetica, Helvetica, Arial, sans-serif;
} 


body {
  background:  black url("/img/barbershop-shop-grid.jpg") no-repeat 50% 3px;
  background-size: 1122px auto;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}


.page-header {
	margin-bottom: 60px;
	min-height: 70px;

}
.container {
	width: 960px;
  padding: 0 10px;
  margin: 0 auto;
  background: gray;
}
.logo {
margin:  auto;	
}
.header-logo {
	width: 110px;
	height: 25;
	float: left;
	margin-bottom: 25px;
	margin-left: 30px;

}

.header-navigation {
	width: 780px;
	float: left;
	margin-bottom: 30px;

	min-height: 70px;

}
.header-user-block {
	width: 140px;
	float: right;
	margin-bottom: 30px;
	min-height: 70px;

}
.page-header {
	width: 300px;
	margin-bottom: 18px;
	padding-left: 10px;
}
.breadcrumbs {
	width: 380px;
	margin-bottom: 55px;
	padding-left: 10px;

}
.filters {
	width: 220px;
	margin-bottom: 160px;
	float: left;
	background: gray;
}
.producer {
	width: 220px;
	margin-bottom: 23px;
	padding-left: 10px;
}
.product-contents-title {
	width: 700px;

}
.product-groups {
	width: 220px;
	padding-left: 10px;
}
.wrap {
width: 700px;
margin-bottom: 50px;
float: right;
background: gray;
}

.products {
	width: 700px;
	margin-bottom: 45px;
	list-style:none;
	padding-left: 0px; 
	background: gray;

}

.products-item {
width: 220px;
float: left;
margin-right: 20px;
margin-bottom: 20px;
background: green;

}

.products-item:nth-child(3n) {
	margin-right: 0px;
}
.pagination {
	width: 220px;
	list-style:none;

}
.main-footer {
	background: gray;
	min-height: 90px;


}
.footer-contacts {
width: 380px;
float: left;
margin-right: 20px;	
min-height: 90px;
background: green;
}
.footer-social {
	width: 140px;
	float: left;
	background: green;	

}
.footer-copyright {
	width: 140px;
	float: right;
	background: green;
}







