body {
font-size: 14 px;
height: 24 px;
color: #000000;
font-weigt: Bold;
font-family: PT Sans Narrow;
}
h1 {
font-size: 30 px;
height: 42 px;
color: #000000;
font-weigt: Bold;
font-family: PT Sans Narrow;
}
h2 {
font-size: 14 px;
height: 18 px;
color: #000000;
font-weigt: Bold;
font-family: PT Sans Narrow;
}